# Homework 2: Problem 2

1. (5 points) Develop an algorithm (pseudocode or code) with a running time better than $O(n^3)$ to perform the following requirement:
    1. For each state determine the number of confirmed cases by day. This will require a calculation from day(x) minus day(xâˆ’1).
    2. Calculate the maximum number of cases in any given day by state.
    3. By state, once the first confirmed case it identified, calculate the mean from that point through June 7, 2020.
2. (5 points) What is the running time of the developed algorithm?
3. (10 points) Provide the results in a table of the max number of cases and the mean number of cases per state.

In [11]:
import numpy as np
import pandas as pd
from typing import Sequence

project_dir = "/home/choct155/projects/math/algorithms/algoforDS/en685_621/"
data = dict(
    confirmed = pd.read_csv("{}data/time_series_covid_19_confirmed_US.csv".format(project_dir)),
    deaths = pd.read_csv("{}data/time_series_covid_19_deaths_US.csv".format(project_dir)),
    recovered = pd.read_csv("{}data/datasets_494724_1273275_time_series_covid_19_recovered.csv".format(project_dir)),
)

data["confirmed"].head(20)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/13/20,6/14/20,6/15/20,6/16/20,6/17/20,6/18/20,6/19/20,6/20/20,6/21/20,6/22/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,183,183,185,186,188,192,200,222,222,222
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,30,30,30,30,30,30,30,30,30,30
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,5690,5811,5890,5951,6003,6111,6195,6463,6525,6564
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,72,72,72,72,73,73,73,73,76,76
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,331,357,364,367,369,394,405,425,428,436
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,361,364,368,374,377,386,398,405,415,422
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,226,234,237,244,250,262,265,271,271,276
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,100,104,108,113,115,118,123,123,124,126
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,102,110,114,119,121,127,136,140,146,150
10,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,...,276,302,305,308,311,318,318,324,324,325
11,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,...,517,536,541,548,551,563,567,570,574,576
12,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,...,190,195,196,198,200,202,202,203,205,207
13,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,...,438,453,461,471,472,487,493,502,507,514
14,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,...,47,51,51,51,51,53,56,56,56,56
15,84001021,US,USA,840,1021.0,Chilton,Alabama,US,32.850441,-86.717326,...,128,132,135,138,143,145,151,156,159,163
16,84001023,US,USA,840,1023.0,Choctaw,Alabama,US,32.022273,-88.265644,...,167,175,175,177,180,182,185,185,185,185
17,84001025,US,USA,840,1025.0,Clarke,Alabama,US,31.680999,-87.835486,...,179,188,191,194,197,201,208,213,215,217
18,84001027,US,USA,840,1027.0,Clay,Alabama,US,33.269842,-85.858361,...,30,30,30,30,30,30,30,31,32,33
19,84001029,US,USA,840,1029.0,Cleburne,Alabama,US,33.676792,-85.520059,...,20,21,22,22,22,22,22,22,22,22

In [164]:
def convert_to_long(data: pd.DataFrame, drop_cols: Sequence[str], idx_cols: Sequence[str]) -> pd.DataFrame:
    long_data = pd.DataFrame(
    data.drop(drop_cols, axis=1)
        .set_index(idx_cols)
        .stack()
    ).reset_index()
    long_data.columns = [s.lower() for s in idx_cols] + ["date", "count"]
    us_data: pd.DataFrame = long_data[~long_data["admin2"].isnull()]
    us_data.columns = ["city", "state", "country", "date", "count"]
    return us_data

test_long = convert_to_long(
    data["confirmed"], 
    ["UID", "iso2", "iso3", "code3", "FIPS", "Lat", "Long_", "Combined_Key"],
    ["Admin2", "Province_State", "Country_Region"]
)
test_long

                city    state country     date  count
765          Autauga  Alabama      US  1/22/20      0
766          Autauga  Alabama      US  1/23/20      0
767          Autauga  Alabama      US  1/24/20      0
768          Autauga  Alabama      US  1/25/20      0
769          Autauga  Alabama      US  1/26/20      0
...              ...      ...     ...      ...    ...
498928  Weber-Morgan     Utah      US  6/18/20    588
498929  Weber-Morgan     Utah      US  6/19/20    616
498930  Weber-Morgan     Utah      US  6/20/20    641
498931  Weber-Morgan     Utah      US  6/21/20    666
498932  Weber-Morgan     Utah      US  6/22/20    676

[497862 rows x 5 columns]

In [106]:
def series_by_city(data: pd.DataFrame, state: str) -> pd.DataFrame:
    agg_by_city: pd.DataFrame = (
        data
        .groupby(["city", "state", "date"])
        .sum()
        .reset_index()
    )
    agg_by_city.columns = ["city", "state", "date", "count"]
    agg_by_city["date"] = pd.to_datetime(agg_by_city["date"])
    city_series: pd.DataFrame = (
        agg_by_city[agg_by_city["state"] == state]
            .set_index(["date", "city"])

    )
    city_series: pd.DataFrame = city_series["count"].unstack("city")
    return city_series

series_by_city(test_long, "Alabama")

city,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,Cherokee,...,St. Clair,Sumter,Talladega,Tallapoosa,Tuscaloosa,Unassigned,Walker,Washington,Wilcox,Winston
date,,,,,,,,,,,,,,,,,,,,,
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-18,394,386,262,118,127,318,563,202,487,53,...,182,266,168,498,1467,410,642,91,238,165
2020-06-19,405,398,265,123,136,318,567,202,493,56,...,193,267,170,506,1526,419,664,91,240,172
2020-06-20,425,405,271,123,140,324,570,203,502,56,...,196,268,178,506,1544,423,669,92,242,172
2020-06-21,428,415,271,124,146,324,574,205,507,56,...,201,268,182,510,1581,423,683,92,244,175
2020-06-22,436,422,276,126,150,325,576,207,514,56,...,204,268,185,513,1604,423,695,94,246,177

In [165]:
def series_by_state(data: pd.DataFrame) -> pd.DataFrame:
    agg_by_state: pd.DataFrame = (
        data
        .groupby(["state", "date"])
        .sum()
        .reset_index()
    )
    agg_by_state.columns = ["state", "date", "count"]
    agg_by_state["date"] = pd.to_datetime(agg_by_state["date"])
    state_series: pd.DataFrame = agg_by_state.set_index(["date", "state"]).unstack("state")
    state_series.columns = [col[1] for col in state_series.columns]
    return state_series

series_by_state(test_long)

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
date,,,,,,,,,,,,,,,,,,,,,
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-26,0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-18,28206,707,43445,13928,167086,29886,45440,10499,9903,85926,...,6109,32770,101259,15839,1135,56238,27192,2418,23876,1144
2020-06-19,29002,720,46910,14631,170862,30172,45557,10611,9952,89748,...,6158,34017,105394,16425,1144,56793,27601,2468,24154,1173
2020-06-20,29549,741,50127,15142,175213,30333,45715,10681,9984,93797,...,6225,34446,109581,17068,1147,57443,28225,2500,24539,1179
2020-06-21,30021,752,52591,15561,178546,30524,45755,10775,10020,97291,...,6297,35102,112944,17462,1159,57994,28680,2533,24819,1197
2020-06-22,30454,758,54599,16083,184765,30689,45782,10820,10058,100217,...,6326,35553,117790,17906,1163,58465,28870,2552,25068,1230

In [110]:
def to_city_series(data: pd.DataFrame, drop_cols: Sequence[str], idx_cols: Sequence[str], state: str) -> pd.DataFrame:
    long_data: pd.DataFrame = convert_to_long(data, drop_cols, idx_cols)
    return series_by_city(long_data, state)

test_city = to_city_series(
    data["confirmed"], 
    ["UID", "iso2", "iso3", "code3", "FIPS", "Lat", "Long_", "Combined_Key"],
    ["Admin2", "Province_State", "Country_Region"],
    "Alabama"
)
test_city

city,Autauga,Baldwin,Barbour,Bibb,Blount,Bullock,Butler,Calhoun,Chambers,Cherokee,...,St. Clair,Sumter,Talladega,Tallapoosa,Tuscaloosa,Unassigned,Walker,Washington,Wilcox,Winston
date,,,,,,,,,,,,,,,,,,,,,
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-18,394,386,262,118,127,318,563,202,487,53,...,182,266,168,498,1467,410,642,91,238,165
2020-06-19,405,398,265,123,136,318,567,202,493,56,...,193,267,170,506,1526,419,664,91,240,172
2020-06-20,425,405,271,123,140,324,570,203,502,56,...,196,268,178,506,1544,423,669,92,242,172
2020-06-21,428,415,271,124,146,324,574,205,507,56,...,201,268,182,510,1581,423,683,92,244,175
2020-06-22,436,422,276,126,150,325,576,207,514,56,...,204,268,185,513,1604,423,695,94,246,177

In [167]:
def to_state_series(data: pd.DataFrame, drop_cols: Sequence[str], idx_cols: Sequence[str]) -> pd.DataFrame:
    long_data: pd.DataFrame = convert_to_long(data, drop_cols, idx_cols)
    return series_by_state(long_data)

test_state = to_state_series(
    data["confirmed"], 
    ["UID", "iso2", "iso3", "code3", "FIPS", "Lat", "Long_", "Combined_Key"],
    ["Admin2", "Province_State", "Country_Region"]
)
test_state

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
date,,,,,,,,,,,,,,,,,,,,,
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-01-26,0,0,1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-18,28206,707,43445,13928,167086,29886,45440,10499,9903,85926,...,6109,32770,101259,15839,1135,56238,27192,2418,23876,1144
2020-06-19,29002,720,46910,14631,170862,30172,45557,10611,9952,89748,...,6158,34017,105394,16425,1144,56793,27601,2468,24154,1173
2020-06-20,29549,741,50127,15142,175213,30333,45715,10681,9984,93797,...,6225,34446,109581,17068,1147,57443,28225,2500,24539,1179
2020-06-21,30021,752,52591,15561,178546,30524,45755,10775,10020,97291,...,6297,35102,112944,17462,1159,57994,28680,2533,24819,1197
2020-06-22,30454,758,54599,16083,184765,30689,45782,10820,10058,100217,...,6326,35553,117790,17906,1163,58465,28870,2552,25068,1230

In [113]:
def process_recovered(data: pd.DataFrame) -> pd.DataFrame:
    us_data: pd.DataFrame = (
        data[data["Country/Region"] == "US"]
            .set_index(["Province/State", "Country/Region", "Lat", "Long"])
            .stack()
            .reset_index()
    )
    us_data.columns = ["state", "country", "lat", "long", "date", "count"]
    us_data["date"] = pd.to_datetime(us_data["date"])
    return us_data[["date", "count"]].set_index("date")

process_recovered(data["recovered"])

             count
date
2020-01-22       0
2020-01-23       0
2020-01-24       0
2020-01-25       0
2020-01-26       0
...            ...
2020-06-18  599115
2020-06-19  606715
2020-06-20  617460
2020-06-21  622133
2020-06-22  640198

[153 rows x 1 columns]

In [125]:
from collections import namedtuple
from typing import NamedTuple, List
from numbers import Rational

In [151]:
x = np.arange(10)
xcs = np.cumsum(x)

class CaseStats(NamedTuple):
    stock: Rational
    flow: Rational
    max_flow: Rational
    avg_flow: Rational
    onset_days: int


def fold_stats(data: List[Rational]) -> List[CaseStats]:

    def loop(data: List[Rational], agg: List[CaseStats]=[]) -> List[CaseStats]:
        if len(data) == 0:
            return agg
        elif len(agg) == 0:
            first: CaseStats = CaseStats(data[0], data[0], data[0], data[0], 0)
            return loop(data[1:], [first])
        else:
            last_stat: CaseStats = agg[-1]
            next_stock: Rational = data[0]
            next_flow: Rational = next_stock - last_stat.stock
            next_max_flow: Rational = next_flow if next_flow > last_stat.max_flow else last_stat.max_flow
            next_onset_days: int = (
                0 if next_max_flow == 0
                else last_stat.onset_days + 1
            )
            next_avg_flow: Rational = (
                0 if next_onset_days == 0
                else (((next_onset_days - 1) * last_stat.avg_flow) + next_flow) / next_onset_days
            )
            next_stat: CaseStats = CaseStats(
                next_stock,
                next_flow,
                next_max_flow,
                next_avg_flow,
                next_onset_days
            )
            return loop(data[1:], agg + [next_stat])
    return loop(data)


pd.DataFrame(fold_stats(xcs))
# fold_stats(xcs)

   stock  flow  max_flow  avg_flow  onset_days
0      0     0         0       0.0           0
1      1     1         1       1.0           1
2      3     2         2       1.5           2
3      6     3         3       2.0           3
4     10     4         4       2.5           4
5     15     5         5       3.0           5
6     21     6         6       3.5           6
7     28     7         7       4.0           7
8     36     8         8       4.5           8
9     45     9         9       5.0           9

In [152]:
pd.DataFrame(fold_stats([0,0,0,0,1,2,3,4,5]))

   stock  flow  max_flow  avg_flow  onset_days
0      0     0         0       0.0           0
1      0     0         0       0.0           0
2      0     0         0       0.0           0
3      0     0         0       0.0           0
4      1     1         1       1.0           1
5      2     1         1       1.0           2
6      3     1         1       1.0           3
7      4     1         1       1.0           4
8      5     1         1       1.0           5

In [153]:
rec = pd.DataFrame(process_recovered(data["recovered"]))
rec

             count
date
2020-01-22       0
2020-01-23       0
2020-01-24       0
2020-01-25       0
2020-01-26       0
...            ...
2020-06-18  599115
2020-06-19  606715
2020-06-20  617460
2020-06-21  622133
2020-06-22  640198

[153 rows x 1 columns]

In [154]:
fold_stats(rec["count"])

[CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=0, flow=0, max_flow=0, avg_flow=0, onset_days=0),
 CaseStats(stock=3, flow=3, max_flow=3, avg_flow=3.0, onset_days=1),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=1.5, onset_days=2),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=1.0, onset_days=3),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.75, onset_days=4),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.6, onset_days=5),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.5, onset_days=6),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.42857142857142855, onset_days=7),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.375, onset_days=8),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.3333333333333333, onset_days=9),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.3, onset_days=10),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.2727272727272727, onset_days=11),
 CaseStats(stock=3, flow=0, max_flow=3, avg_flow=0.25, onset_days=12),
 CaseStats(stock=5, flow=2, max_flow=3, avg_flow=0.38461538461538464, onset_days=13),
 CaseStats(stock=5, flow=0, max_flow=3, avg_flow=0.35714285714285715, onset_days=14),
 CaseStats(stock=5, flow=0, max_flow=3, avg_flow=0.3333333333333333, onset_days=15),
 CaseStats(stock=5, flow=0, max_flow=3, avg_flow=0.3125, onset_days=16),
 CaseStats(stock=6, flow=1, max_flow=3, avg_flow=0.35294117647058826, onset_days=17),
 CaseStats(stock=6, flow=0, max_flow=3, avg_flow=0.3333333333333333, onset_days=18),
 CaseStats(stock=6, flow=0, max_flow=3, avg_flow=0.3157894736842105, onset_days=19),
 CaseStats(stock=7, flow=1, max_flow=3, avg_flow=0.35, onset_days=20),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.3333333333333333, onset_days=21),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.3181818181818182, onset_days=22),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.30434782608695654, onset_days=23),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.2916666666666667, onset_days=24),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.28, onset_days=25),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.2692307692307693, onset_days=26),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.2592592592592593, onset_days=27),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.25000000000000006, onset_days=28),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.24137931034482765, onset_days=29),
 CaseStats(stock=7, flow=0, max_flow=3, avg_flow=0.2333333333333334, onset_days=30),
 CaseStats(stock=8, flow=1, max_flow=3, avg_flow=0.2580645161290323, onset_days=31),
 CaseStats(stock=8, flow=0, max_flow=3, avg_flow=0.25000000000000006, onset_days=32),
 CaseStats(stock=12, flow=4, max_flow=4, avg_flow=0.3636363636363637, onset_days=33),
 CaseStats(stock=12, flow=0, max_flow=4, avg_flow=0.3529411764705883, onset_days=34),
 CaseStats(stock=12, flow=0, max_flow=4, avg_flow=0.34285714285714297, onset_days=35),
 CaseStats(stock=12, flow=0, max_flow=4, avg_flow=0.3333333333333334, onset_days=36),
 CaseStats(stock=17, flow=5, max_flow=5, avg_flow=0.45945945945945954, onset_days=37),
 CaseStats(stock=17, flow=0, max_flow=5, avg_flow=0.4473684210526317, onset_days=38),
 CaseStats(stock=105, flow=88, max_flow=88, avg_flow=2.6923076923076925, onset_days=39),
 CaseStats(stock=121, flow=16, max_flow=88, avg_flow=3.0250000000000004, onset_days=40),
 CaseStats(stock=147, flow=26, max_flow=88, avg_flow=3.5853658536585367, onset_days=41),
 CaseStats(stock=176, flow=29, max_flow=88, avg_flow=4.190476190476191, onset_days=42),
 CaseStats(stock=178, flow=2, max_flow=88, avg_flow=4.1395348837209305, onset_days=43),
 CaseStats(stock=178, flow=0, max_flow=88, avg_flow=4.045454545454546, onset_days=44),
 CaseStats(stock=348, flow=170, max_flow=170, avg_flow=7.733333333333333, onset_days=45),
 CaseStats(stock=361, flow=13, max_flow=170, avg_flow=7.8478260869565215, onset_days=46),
 CaseStats(stock=681, flow=320, max_flow=320, avg_flow=14.48936170212766, onset_days=47),
 CaseStats(stock=869, flow=188, max_flow=320, avg_flow=18.104166666666668, onset_days=48),
 CaseStats(stock=1072, flow=203, max_flow=320, avg_flow=21.877551020408163, onset_days=49),
 CaseStats(stock=2665, flow=1593, max_flow=1593, avg_flow=53.3, onset_days=50),
 CaseStats(stock=5644, flow=2979, max_flow=2979, avg_flow=110.66666666666667, onset_days=51),
 CaseStats(stock=7024, flow=1380, max_flow=2979, avg_flow=135.07692307692307, onset_days=52),
 CaseStats(stock=8474, flow=1450, max_flow=2979, avg_flow=159.88679245283018, onset_days=53),
 CaseStats(stock=9001, flow=527, max_flow=2979, avg_flow=166.6851851851852, onset_days=54),
 CaseStats(stock=9707, flow=706, max_flow=2979, avg_flow=176.4909090909091, onset_days=55),
 CaseStats(stock=14652, flow=4945, max_flow=4945, avg_flow=261.64285714285717, onset_days=56),
 CaseStats(stock=17448, flow=2796, max_flow=4945, avg_flow=306.10526315789474, onset_days=57),
 CaseStats(stock=19581, flow=2133, max_flow=4945, avg_flow=337.6034482758621, onset_days=58),
 CaseStats(stock=21763, flow=2182, max_flow=4945, avg_flow=368.864406779661, onset_days=59),
 CaseStats(stock=23559, flow=1796, max_flow=4945, avg_flow=392.65, onset_days=60),
 CaseStats(stock=25410, flow=1851, max_flow=4945, avg_flow=416.55737704918033, onset_days=61),
 CaseStats(stock=28790, flow=3380, max_flow=4945, avg_flow=464.35483870967744, onset_days=62),
 CaseStats(stock=31270, flow=2480, max_flow=4945, avg_flow=496.3492063492063, onset_days=63),
 CaseStats(stock=32988, flow=1718, max_flow=4945, avg_flow=515.4375, onset_days=64),
 CaseStats(stock=43482, flow=10494, max_flow=10494, avg_flow=668.9538461538461, onset_days=65),
 CaseStats(stock=47763, flow=4281, max_flow=10494, avg_flow=723.6818181818181, onset_days=66),
 CaseStats(stock=52096, flow=4333, max_flow=10494, avg_flow=777.5522388059702, onset_days=67),
 CaseStats(stock=54703, flow=2607, max_flow=10494, avg_flow=804.4558823529413, onset_days=68),
 CaseStats(stock=58545, flow=3842, max_flow=10494, avg_flow=848.4782608695654, onset_days=69),
 CaseStats(stock=64840, flow=6295, max_flow=10494, avg_flow=926.2857142857143, onset_days=70),
 CaseStats(stock=70337, flow=5497, max_flow=10494, avg_flow=990.6619718309859, onset_days=71),
 CaseStats(stock=72329, flow=1992, max_flow=10494, avg_flow=1004.5694444444445, onset_days=72),
 CaseStats(stock=75204, flow=2875, max_flow=10494, avg_flow=1030.1917808219177, onset_days=73),
 CaseStats(stock=77366, flow=2162, max_flow=10494, avg_flow=1045.4864864864865, onset_days=74),
 CaseStats(stock=80203, flow=2837, max_flow=10494, avg_flow=1069.3733333333332, onset_days=75),
 CaseStats(stock=99079, flow=18876, max_flow=18876, avg_flow=1303.6710526315787, onset_days=76),
 CaseStats(stock=100372, flow=1293, max_flow=18876, avg_flow=1303.5324675324673, onset_days=77),
 CaseStats(stock=106988, flow=6616, max_flow=18876, avg_flow=1371.6410256410254, onset_days=78),
 CaseStats(stock=111424, flow=4436, max_flow=18876, avg_flow=1410.4303797468353, onset_days=79),
 CaseStats(stock=115936, flow=4512, max_flow=18876, avg_flow=1449.1999999999998, onset_days=80),
 CaseStats(stock=120720, flow=4784, max_flow=18876, avg_flow=1490.3703703703702, onset_days=81),
 CaseStats(stock=153947, flow=33227, max_flow=33227, avg_flow=1877.4024390243903, onset_days=82),
 CaseStats(stock=164015, flow=10068, max_flow=33227, avg_flow=1976.0843373493976, onset_days=83),
 CaseStats(stock=175382, flow=11367, max_flow=33227, avg_flow=2087.8809523809523, onset_days=84),
 CaseStats(stock=180152, flow=4770, max_flow=33227, avg_flow=2119.435294117647, onset_days=85),
 CaseStats(stock=187180, flow=7028, max_flow=33227, avg_flow=2176.5116279069766, onset_days=86),
 CaseStats(stock=189791, flow=2611, max_flow=33227, avg_flow=2181.5057471264367, onset_days=87),
 CaseStats(stock=189910, flow=119, max_flow=33227, avg_flow=2158.068181818182, onset_days=88),
 CaseStats(stock=195036, flow=5126, max_flow=33227, avg_flow=2191.4157303370785, onset_days=89),
 CaseStats(stock=198993, flow=3957, max_flow=33227, avg_flow=2211.033333333333, onset_days=90),
 CaseStats(stock=212534, flow=13541, max_flow=33227, avg_flow=2335.538461538461, onset_days=91),
 CaseStats(stock=216169, flow=3635, max_flow=33227, avg_flow=2349.66304347826, onset_days=92),
 CaseStats(stock=232733, flow=16564, max_flow=33227, avg_flow=2502.5053763440856, onset_days=93),
 CaseStats(stock=230287, flow=-2446, max_flow=33227, avg_flow=2449.861702127659, onset_days=94),
 CaseStats(stock=243430, flow=13143, max_flow=33227, avg_flow=2562.4210526315783, onset_days=95),
 CaseStats(stock=246414, flow=2984, max_flow=33227, avg_flow=2566.8124999999995, onset_days=96),
 CaseStats(stock=250747, flow=4333, max_flow=33227, avg_flow=2585.0206185567004, onset_days=97),
 CaseStats(stock=268376, flow=17629, max_flow=33227, avg_flow=2738.5306122448974, onset_days=98),
 CaseStats(stock=272265, flow=3889, max_flow=33227, avg_flow=2750.1515151515146, onset_days=99),
 CaseStats(stock=283178, flow=10913, max_flow=33227, avg_flow=2831.7799999999993, onset_days=100),
 CaseStats(stock=289392, flow=6214, max_flow=33227, avg_flow=2865.2673267326727, onset_days=101),
 CaseStats(stock=294312, flow=4920, max_flow=33227, avg_flow=2885.411764705882, onset_days=102),
 CaseStats(stock=298418, flow=4106, max_flow=33227, avg_flow=2897.2621359223294, onset_days=103),
 CaseStats(stock=350135, flow=51717, max_flow=51717, avg_flow=3366.682692307692, onset_days=104),
 CaseStats(stock=361239, flow=11104, max_flow=51717, avg_flow=3440.371428571428, onset_days=105),
 CaseStats(stock=366736, flow=5497, max_flow=51717, avg_flow=3459.77358490566, onset_days=106),
 CaseStats(stock=379157, flow=12421, max_flow=51717, avg_flow=3543.523364485981, onset_days=107),
 CaseStats(stock=384902, flow=5745, max_flow=51717, avg_flow=3563.907407407407, onset_days=108),
 CaseStats(stock=391508, flow=6606, max_flow=51717, avg_flow=3591.8165137614674, onset_days=109),
 CaseStats(stock=399991, flow=8483, max_flow=51717, avg_flow=3636.2818181818175, onset_days=110),
 CaseStats(stock=406446, flow=6455, max_flow=51717, avg_flow=3661.675675675675, onset_days=111),
 CaseStats(stock=416461, flow=10015, max_flow=51717, avg_flow=3718.4017857142853, onset_days=112),
 CaseStats(stock=444758, flow=28297, max_flow=51717, avg_flow=3935.9115044247783, onset_days=113),
 CaseStats(stock=458231, flow=13473, max_flow=51717, avg_flow=4019.570175438596, onset_days=114),
 CaseStats(stock=463868, flow=5637, max_flow=51717, avg_flow=4033.6347826086953, onset_days=115),
 CaseStats(stock=479258, flow=15390, max_flow=51717, avg_flow=4131.5344827586205, onset_days=116),
 CaseStats(stock=485002, flow=5744, max_flow=51717, avg_flow=4145.316239316239, onset_days=117),
 CaseStats(stock=491706, flow=6704, max_flow=51717, avg_flow=4167.0, onset_days=118),
 CaseStats(stock=500849, flow=9143, max_flow=51717, avg_flow=4208.81512605042, onset_days=119),
 CaseStats(stock=506367, flow=5518, max_flow=51717, avg_flow=4219.725, onset_days=120),
 CaseStats(stock=518522, flow=12155, max_flow=51717, avg_flow=4285.305785123967, onset_days=121),
 CaseStats(stock=524855, flow=6333, max_flow=51717, avg_flow=4302.0901639344265, onset_days=122),
 CaseStats(stock=533504, flow=8649, max_flow=51717, avg_flow=4337.430894308943, onset_days=123),
 CaseStats(stock=540292, flow=6788, max_flow=51717, avg_flow=4357.193548387097, onset_days=124),
 CaseStats(stock=547386, flow=7094, max_flow=51717, avg_flow=4379.088, onset_days=125),
 CaseStats(stock=556606, flow=9220, max_flow=51717, avg_flow=4417.507936507936, onset_days=126),
 CaseStats(stock=561816, flow=5210, max_flow=51717, avg_flow=4423.748031496063, onset_days=127),
 CaseStats(stock=576334, flow=14518, max_flow=51717, avg_flow=4502.609375, onset_days=128),
 CaseStats(stock=583503, flow=7169, max_flow=51717, avg_flow=4523.279069767442, onset_days=129),
 CaseStats(stock=592191, flow=8688, max_flow=51717, avg_flow=4555.315384615385, onset_days=130),
 CaseStats(stock=599115, flow=6924, max_flow=51717, avg_flow=4573.396946564885, onset_days=131),
 CaseStats(stock=606715, flow=7600, max_flow=51717, avg_flow=4596.325757575758, onset_days=132),
 CaseStats(stock=617460, flow=10745, max_flow=51717, avg_flow=4642.556390977444, onset_days=133),
 CaseStats(stock=622133, flow=4673, max_flow=51717, avg_flow=4642.7835820895525, onset_days=134),
 CaseStats(stock=640198, flow=18065, max_flow=51717, avg_flow=4742.207407407407, onset_days=135)]

In [155]:
test_state

,Alabama,Alaska,American Samoa,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Diamond Princess,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
date,,,,,,,,,,,,,,,,,,,,,
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1/26/20,0,0,0,1,0,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6/5/20,19387,523,0,24439,8651,125738,27601,43460,9773,49,...,25664,72548,11252,1027,71,48532,22993,2119,20249,933
6/6/20,20043,535,0,25451,9101,128593,27834,43818,9845,49,...,26177,74470,11798,1046,71,49397,23442,2136,20571,939
6/7/20,20500,543,0,26989,9426,130615,27987,43968,9942,49,...,26493,75408,12066,1063,71,50681,23729,2144,20835,947
6/8/20,20925,562,0,27678,9740,133816,28169,44092,9972,49,...,27005,76463,12322,1075,71,51251,24041,2161,21038,960
6/9/20,21422,572,0,28296,10080,136641,28333,44179,10020,49,...,27575,78208,12559,1084,71,51738,24354,2169,21308,970

In [160]:
class CaseStatsByGeo(NamedTuple):
    geo: str
    stock: Rational
    flow: Rational
    max_flow: Rational
    avg_flow: Rational
    onset_days: int

def max_mean_by_area(data: pd.DataFrame) -> pd.DataFrame:
    geos: Sequence[str] = data.columns
    def get_stats(data: np.array, geo: str) -> CaseStatsByGeo:
        stats: List[CaseStats] = fold_stats(data)
        last_stat: CaseStats = stats[-1]
        return CaseStatsByGeo(
            geo, 
            last_stat.stock, 
            last_stat.flow, 
            last_stat.max_flow, 
            last_stat.avg_flow, 
            last_stat.onset_days
        )
    stats_by_geo: List[CaseStatsByGeo] = [get_stats(data[geo], geo) for geo in geos]
    return pd.DataFrame(stats_by_geo)
    
max_mean_by_area(test_state)

                         geo   stock  flow  max_flow     avg_flow  onset_days
0                    Alabama   21422   497     10783   194.745455         110
1                     Alaska     572    10       255     5.200000         110
2             American Samoa       0     0         0     0.000000           0
3                    Arizona   28296   618     28863   189.906040         149
4                   Arkansas   10080   340      7324    91.636364         110
5                 California  136641  2825     57998   917.053691         149
6                   Colorado   28333   164     11111   250.734513         113
7                Connecticut   44179    87     22786   390.964602         113
8                   Delaware   10020    48      4284    89.464286         112
9           Diamond Princess      49     0        49     0.462264         106
10      District of Columbia    9474    85      3701    88.542056         107
11                   Florida   66000  1096     36350   584.070796         113
12                   Georgia   53249   752     20433   471.230088         113
13            Grand Princess     103     0       103     0.962617         107
14                      Guam     180     1        77     1.682243         107
15                    Hawaii     682     6       328     6.035398         113
16                     Idaho    3221    32      1093    29.281818         110
17                  Illinois  129212   797     57418   855.708609         151
18                   Indiana   38033   410     14398   336.575221         113
19                      Iowa   22237   230     10069   196.787611         113
20                    Kansas   10609    65      4534    93.884956         113
21                  Kentucky   11707   231      4574   103.601770         113
22                 Louisiana   43612   562     17704   389.392857         112
23                     Maine    2606    18      1097    23.477477         111
24                  Maryland   58904   500     26553   521.274336         113
25             Massachusetts  103889   263     52809   726.496503         143
26                  Michigan   65167    63     30257   581.848214         112
27                 Minnesota   28523   299     17527   252.415929         113
28               Mississippi   18123   355      7679   163.270270         111
29                  Missouri   15562   211      5832   137.716814         113
30                   Montana     554     6       210     5.036364         110
31                  Nebraska   15918   132      8244   140.867257         113
32                    Nevada   10045   229      4118    88.893805         113
33             New Hampshire    5079     0      1974    44.946903         113
34                New Jersey  164796   299     88757  1458.371681         113
35                New Mexico    9105    43      3774    81.294643         112
36                  New York  379482   683    201385  3358.247788         113
37            North Carolina   37227   710     21367   329.442478         113
38              North Dakota    2901    21      1363    26.135135         111
39  Northern Mariana Islands      30     2         8     0.333333          90
40                      Ohio   39162   325     15119   346.566372         113
41                  Oklahoma    7363   158      3346    65.159292         113
42                    Oregon    4988    66      2237    40.885246         122
43              Pennsylvania   80870   531     39401   715.663717         113
44               Puerto Rico    5185   139      2528    48.457944         107
45              Rhode Island   15691    49      7910   137.640351         114
46            South Carolina   15228   428     11341   134.761062         113
47              South Dakota    5523    52      2329    49.312500         112
48                 Tennessee   27575   570     10104   244.026549         113
49                     Texas   78208  1745     42271   692.106195         113
50                      Utah   12559   237      6866   111.141593         113
51                   Vermont    1084     9       478     9.592920         113
52            Virgin Islands      71     0        30     0.663551         107
53                  Virginia   51738   487     24939   457.858407         113
54                Washington   24354   313      7481   160.217105         152
55             West Virginia    2169     8       888    20.657143         105
56                 Wisconsin   21308   270     10266   188.566372         113
57                   Wyoming     970    10       397     8.738739         111

In [170]:
us_confirmed: pd.DataFrame = (
    to_state_series(
        data["confirmed"], 
        ["UID", "iso2", "iso3", "code3", "FIPS",  "Lat", "Long_", "Combined_Key"],
        ["Admin2","Province_State", "Country_Region"]
    )
).sum(axis=1)
    
us_confirmed

date
2020-01-22          1
2020-01-23          1
2020-01-24          2
2020-01-25          2
2020-01-26          5
               ...
2020-06-18    2184494
2020-06-19    2215929
2020-06-20    2248179
2020-06-21    2274285
2020-06-22    2305258
Length: 153, dtype: int64

In [172]:
us_deaths: pd.DataFrame = (
    to_state_series(
        data["deaths"], 
        ["UID", "iso2", "iso3", "code3", "FIPS",  "Lat", "Long_", "Combined_Key", "Population"],
        ["Admin2","Province_State", "Country_Region"]
    )
).sum(axis=1)
    
us_deaths

date
2020-01-22         0
2020-01-23         0
2020-01-24         0
2020-01-25         0
2020-01-26         0
               ...
2020-06-18    118269
2020-06-19    118961
2020-06-20    119556
2020-06-21    119812
2020-06-22    120237
Length: 153, dtype: int64

In [173]:
rec

             count
date
2020-01-22       0
2020-01-23       0
2020-01-24       0
2020-01-25       0
2020-01-26       0
...            ...
2020-06-18  599115
2020-06-19  606715
2020-06-20  617460
2020-06-21  622133
2020-06-22  640198

[153 rows x 1 columns]